body {
  width: 100%;
  margin: 0px;
  background-color: rgb(255, 203, 203);
}

header {
  background-color: rgb(101, 31, 21);
  height: 15vh;
  width: auto;
  text-align: left;
}

h1 {
  display: inline-block;
  color: antiquewhite;
  font-size: 30px;
  margin-top: -20px;
  position: relative;
  bottom: 50px;
}
header img {
  margin: 10px;
}
.zodiac-text {
  margin-left: 5px;
}
#bg {
  height: 100%;
  width: 90%;
  background-color: blanchedalmond;
  margin: 0px auto;
  
}
 #input-q {
  display: flex;
  height: 80px;
  width: 90%;
  background-color: white;
  margin: 0px auto;
  border: solid black 1px;
  justify-content: center;
  align-items: center;
  
}
#api-info {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
#zodiacal {
  height: 600px;
  min-height: fit-content;
  width: 500px;
  background-color: white;
  margin: 30px auto;
  display: inline-block;
}

#giphy-grid {
  min-height: fit-content(20em);
  width: 500px;
  background-color: #ffffff;
  display: inline-block;
  margin: 30px auto;

}
#flex-grid {
  justify-content: space-evenly;
  display: flex;
  flex-flow: row wrap;
}
#flex-grid img {
  margin: 5px;
  height: auto;
}
@media (max-width: 500px) {
  header {
    height: 10vh;
  }
  header img {
    width: 50px;
    margin: 2px;
    margin-top: 10px;
  }
  h1 {
    font-size: 20px;
    margin: 2px;
    position: relative;
    bottom: 10px;
    left: 5px;
  }

  #api-info {
    flex-direction: column;
  }
  #zodiacal {
    width: 90%;
  }
  #giphy-grid {
    width: 90%;
  }
  #bg {
    height: auto;
  }
  #flex-grid img {
    margin: 5px;
    width: 40%;
    height: auto;
  }
}